.add-buyer-form {
    width: 82%;
    margin-left: 100px;
    margin-bottom: 200px;
}

.add-buyer-form div {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"]  , #status {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button[type="submit"] {
    background-color: #2a3042;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #337ab7;
}

.error-message2 {
    color: red;
    margin-top: -20px;
    margin-left: 5px;
}

.button-group2 {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin-left: 5px;
    margin-bottom : 100px;
}

.back-buttonbuy {
    background-color: #F39C0E;
    border-radius: 3px;
    border-color: #e08e0b;
    padding: 6px 12px;
    cursor: pointer;
    color: white;
}

.back-buttonbuy:hover {
    background-color: #e08e0b;
    border-color: #eea236;
}

.custom-heading1 {
    color: #495057;
  }
  

@media (max-width: 768px) {
    .add-buyer-form {
        max-width: 500px;
    }
}

@media (max-width: 576px) {
    .add-buyer-form {
        max-width: 300px;
    }
}
